[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "bundle/xoria256"]
	path = bundle/xoria256
	url = https://github.com/kassio/xoria256.vim
